@model IEnumerable<Common.Entities.Log>

@{
    ViewData["Title"] = "Index";
}

<h1>Veiksmų istorija</h1>

@using (Html.BeginForm())
{
    <p>
        Surasti pagal laiką: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" /></p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Laiko žyma", "Index", new { sortOrder = ViewBag.TimeStampSortParm })
            </th>
            <th>
                @Html.ActionLink("Veiksmas", "Index", new { sortOrder = ViewBag.UserActionSortParm })
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAction)
            </td>
        </tr>
}
    </tbody>
</table>
