@model X.PagedList.IPagedList<Common.Entities.Log>
@using X.PagedList;
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
}

<h1>Veiksmų istorija</h1>

@using (Html.BeginForm("Index"))
{
    <p>
        Surasti pagal laiką: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)  
        <input type="submit" value="Search" /></p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Laiko žyma", "Index", new { sortOrder = ViewBag.TimeStampSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Veiksmas", "Index", new { sortOrder = ViewBag.UserActionSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAction)
            </td>
        </tr>
}
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)